html{
    scroll-behavior: smooth;
}
body{
    margin:0px;
}
.navbar{
    border: 3px solid green;
}
.NAV{
    margin:auto;
}

.home:hover{
    opacity: 1.0;
    font-size: 1.4em;
} 
.home{
    background-color: skyblue;
    background-image: url("https://www.pixel-studios.com/blog/wp-content/uploads/2018/12/012.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.68;
    color:rgb(255, 255, 255);
    text-align: center;
    font-weight: 800;
    font-size: 1.2em;
}

#Features{
    background-color: rgb(170, 221, 241);
    font-family:monospace;
    text-align:center;
}
@media screen and (max-width:500px)
{
    .col-md {
        text-align: center;
    }
    img{
        max-width:270px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

img{
    margin-top: 10px;
    margin-bottom: 10px;
}
.col-md {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(255, 142, 67);
    margin: 5px;
}
#particles_js{
    background-color: rgb(252, 255, 89);
    height:500px;
    position:relative;
}

.panel{
    font-family:Cambria;
    border:5px solid lawngreen;
    padding:20px;
    position: absolute;
    top: 20%;
    width: 80%;
    margin-left:10%;
    text-align: center;
    font-size: 18px;
}
  
    
